# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:carbon

before_script:
  - npm install

# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

test:lint:
  script:
    - npm run lint

job1:
  stage: build
  script:
  - npm run build

pages:
  stage: deploy
  script:
  - npm run build
  - mkdir .public
  - cp -r ./dist/* .public
  - mv .public public
  artifacts:
    paths:
    - public
  only:
  - master