:root {
  --mdc-theme-primary: #212121;
  /* --mdc-theme-secondary: #ffab40; */
  /* --mdc-theme-background: #212121; */
  /* --mdc-typography-base: 'roboto'; */
}

body {
  margin: 0;
}

.container {
  max-width: 1312px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
